# CAS Config
security:
  cas:
    casServerName: https://auth.biodiversitydata.se
    casServerUrlPrefix: ${security.cas.casServerName}/cas
    loginUrl: ${security.cas.casServerUrlPrefix}/login
    logoutUrl: ${security.cas.casServerUrlPrefix}/logout
    appServerName: https://auth.biodiversitydata.se
    authCookieName: ALA-Auth
  user:
    name: admin
    password: secret
    role:
      - ACTUATOR
  basic:
    enabled: true
    authorizeMode: role
    realm: ALA CAS
    path:
      - /status/**
endpoints:
  enabled: true
management:
  security:
    enabled: true
    roles: ACTUATOR

serverURL: https://auth.biodiversitydata.se
serverName: https://auth.biodiversitydata.se
grails:
  serverURL: https://auth.biodiversitydata.se/apikey
server:
  port: 8080
  contextPath: /apikey

# Data source configuration
dataSource:
  dbCreate: "none"
  url: jdbc:mysql://mysqldbapikey:3306/$APIKEY_DB_NAME?serverTimezone=Europe/Paris&zeroDateTimeBehavior=convertToNull&characterEncoding=UTF-8&useSSL=true
  username: $APIKEY_DB_USERNAME
  password: $APIKEY_DB_PASSWORD
flyway:
  baselineOnMigrate: true

ala:
  baseURL: https://www.ala.org.au

supportEmail: admin@mail.infrabas.se
homeUrl: https://biodiversitydata.se
mainTitle: Swedish Biodiversity Data Infrastructure
emailSenderTitle: Swedish Biodiversity Data Infrastructure
emailSender: admin@mail.infrabas.se

sightings.url: /mine
spatial.url: https://spatial.biodiversitydata.se?tool=log
volunteer.url: /user/myStats
lists.url: https://lists.biodiversitydata.se/speciesList/list
biocache.search.url: https://records.biodiversitydata.se/occurrences/search
alerts.url:

# this property is read/used by ala-auth-plugin (included by apikey)
userDetails:
  url: https://auth.biodiversitydata.se/userdetails/

# Header and footer
headerAndFooter:
  baseURL: https://static.bioatlas.se/bs3
  version: 1
ala.baseURL: https://biodiversitydata.se
bie.baseURL: https://species.biodiversitydata.se
bie.searchPath: /search

# Skin options
#skin.layout: main
#skin.fluidLayout: true
skin.orgNameLong: Swedish Biodiversity Data Infrastructure
skin.orgNameShort: SBDI
skin.favicon: https://wp.biodiversitydata.se/wp-content/uploads/2021/02/cropped-favicon-180x180.png

spring:
  session:
    store-type: none
